<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12342591285-rv6ji56fp8pvt54e8smkl5gpfuvnsnb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12342591285-rv6ji56fp8pvt54e8smkl5gpfuvnsnb6</string>
	<key>API_KEY</key>
	<string>AIzaSyATRxd3JNjFn5vwnLF2EDafnJ8p-kIXA2o</string>
	<key>GCM_SENDER_ID</key>
	<string>12342591285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ultrasound</string>
	<key>PROJECT_ID</key>
	<string>ultrasound-735cc</string>
	<key>STORAGE_BUCKET</key>
	<string>ultrasound-735cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12342591285:ios:41e1bbcacc3f714ce9d67c</string>
</dict>
</plist>